@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Condensed&display=swap');

*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    
}

/************ 
Common style 
*************/

body{
    font-family: 'Roboto Condensed', sans-serif;
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    background-color: #aaaaaa78;
}


/**************** 
Header nav style 
*****************/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:75px;
    height: 52px;
    padding:10px 30px;
}
.menu-var ul{
    display: flex;
}
.menu-var ul li{
    list-style: none;
    margin-right:16px;
}
.menu-var ul li a{
    text-decoration:none;
    
}

/********************
 main section styles 
*********************/

.influencers-journey{
    display: flex;
    justify-content: center;
    align-items: center;

}
.setion-title{
    font-size: 60px;
}
.pink-color{
    color:#ff014f;
}
#typing{
    position: relative;
    color:transparent;
   
}
#typing::after{
    content: "Influencer";
    position:absolute;
    top:0px;
    left:0px;
    color:#ff014f;
    animation-name: typing;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

/* ******
Animation
******** */

@keyframes typing {
    0%{
        content: "I|";
    }
    5%{
        content: "In|";
    }
    10%{
        content: "Inf|";
    }
    15%{
        content: "Infl|";
    }
    20%{
        content: "Influ|";
    }
    25%{
        content: "Influe|";
    }
    30%{
        content: "Influen|";
    }
    35%{
        content: "Influenc|";
    }
    40%{
        content: "Influence|";
    }
    45%{
        content: "Influencer|";
    }
    50%,
    70%{
        content: "Influencer|";
    }
    70%{
        content: "Influencer|";
    }
    76%{
        content: "Influenc|";
    }
    79%{
        content: "Influen|";
    }
    82%{
        content: "Influe|";
    }
    85%{
        content: "Influ|";
    }
    88%{
        content: "Infl|";
    }
    91%{
        content: "Inf|";
    }
    94%{
        content: "In|";
    }
    97%{
        content: "I|";
    }
    100%{
        content: "|";
    }
    
    
}
.section-image{
   position: relative;
   margin: 60px 0px 0px 80px;
}
.main-camera{
    position: absolute;
    top:20px;
    left:30px;
}



/************************
    Populer collection
*************************/

.colletion-title{
    text-align: center;
}
.populer-collection{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    grid-gap: 30px;
}
.item{
    width:300px ;
    height: 450px;
    padding: 15px;
    background-color: white;
}
.item-image{
    width: 270px;
    height:225px;
    margin-bottom: 10px;
}
.item-name{
    font-size: 28px;
    margin-bottom: 10px;
}
.item-ratting{
    color: goldenrod;
    padding: 6px ;
    font-size: 16px;
   
}
.black-color{
    color:black;
    font-size: 14px;
}
