@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Condensed&display=swap');

*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

/************ 
Common style 
*************/

body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 auto;
    font-size: 18px;
    background-color: #aaaaaa78;
}


.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff014f ;
    width: 200px;
    height: 45px;
    color:white;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 25px;
    margin-top: 25px;
    
}
a{
    text-decoration: none;
}
.button:hover{
    background-color: rgba(0, 0, 0, 0.11);
    color: #ff014f ;
    transform: scale(1.1);
    transition-duration: 1s;
}


/**************** 
Header nav style 
*****************/
header{
    width: 80%;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:75px;
    height: 52px;
    padding:10px 30px;
}
.menu-var ul{
    display: flex;
}
.menu-var ul li{
    list-style: none;
    margin-right:16px;
}
.menu-var ul a{
    text-decoration:none;
    color:black;
    
}

/********************
 main section styles 
*********************/
main{
    width: 80%;
    margin: 0 auto;
}
.influencers-journey{
    display: flex;
    justify-content: center;
    align-items: center;

}
.setion-title{
    font-size: 60px;
}
.pink-color{
    color:#ff014f;
}
#typing{
    position: relative;
    color:transparent;
   
}
#typing::after{
    content: "Influencer";
    position:absolute;
    top:0px;
    left:0px;
    color:#ff014f;
    animation-name: typing;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

/* ******
Animation
******** */

@keyframes typing {
    0%{
        content: "I|";
    }
    5%{
        content: "In|";
    }
    10%{
        content: "Inf|";
    }
    15%{
        content: "Infl|";
    }
    20%{
        content: "Influ|";
    }
    25%{
        content: "Influe|";
    }
    30%{
        content: "Influen|";
    }
    35%{
        content: "Influenc|";
    }
    40%{
        content: "Influence|";
    }
    45%{
        content: "Influencer|";
    }
    50%,
    70%{
        content: "Influencer|";
    }
    70%{
        content: "Influencer|";
    }
    76%{
        content: "Influenc|";
    }
    79%{
        content: "Influen|";
    }
    82%{
        content: "Influe|";
    }
    85%{
        content: "Influ|";
    }
    88%{
        content: "Infl|";
    }
    91%{
        content: "Inf|";
    }
    94%{
        content: "In|";
    }
    97%{
        content: "I|";
    }
    100%{
        content: "|";
    }
    
    
}
/****************** 
influencers-journey
*******************/

.section-image{
   position: relative;
   margin: 60px 0px 0px 80px;
}
.main-camera{
    position: absolute;
    top:20px;
    left:30px;
}

/************************
    Sponsor section
*************************/
.sponsor-logo{
    margin: 50px 30px;
    border-bottom: 0.5px solid gray;
    border-top: 0.5px solid gray;
}
.sponsor-logo img{
    padding: 30px 20px;
}



/************************
    Populer collection
*************************/
#product-section{
    margin:100px 40px;
}
.collection-title{
    text-align: center;
    margin-bottom: 60px;
    font-size: 34px;
}
.populer-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.item{
    width:300px ;
    height: 450px;
    padding: 15px;
    background-color: white;
}
.item-image{
    width: 270px;
    height:225px;
    margin-bottom: 10px;
}
.item-name{
    font-size: 28px;
    margin-bottom: 10px;
}
.item-ratting{
    color: goldenrod;
    padding: 6px ;
    font-size: 16px;
   
}
.black-color{
    color:black;
    font-size: 14px;
}
#see-more{
    position: absolute;
    right:15%;
    background-color: #aaaaaa78;
    color:#ff014f;
}
 /********************
    Influencer knowleged
 *********************/
 .last-section{
     margin: 50px 10px;
 }
.knowledge{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

article{
    width: 272px;
    height: 340px;
    padding: 10px;
    box-shadow: 10px 10px 45px gray;
}
article img{
    width: 250px;
    margin-bottom: 10px;
    height: 140px;
    
}
article p{
    margin-top: 6px;
    font-size: 14px;
}
.read-more{
    background-color:#aaaaaa;
    color:#ff014f;
}

    

/*****************
    Footer style  
******************/
footer{
    background-color: #0A0826;
    width: 100%;
    margin: 0 auto;
    color: white;
    padding: 50px;

}
.footer-info{
    text-align: center;
    margin-bottom: 20px;
}
.social-media ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.social-media ul li a {
    text-decoration: none;
    color:white;
    margin:10px;
    background-color: rgba(128, 128, 128, 0.753);
    border-radius: 100%;
    padding: 5px;
}

/******************* 
Responsive with css
*********************/

/* For mobile  */

@media only screen and (max-width:688Px) {
    nav{
        flex-direction: column;
        text-align: center;
        margin-bottom: 30px;
        
    }
    .menu-var ul{
        display: block;
       visibility: hidden;
        
    }
    .influencers-journey{
       flex-direction: column;
    }
    .populer-collection{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        justify-content: space-evenly

    }    

    .knowledge{
        flex-direction:column;
       
    }
    article{
        margin-bottom: 20px;
    }

    
}

/* For tablet */

@media only screen and (min-width:688px) and (max-width:992px) {
    
    .influencers-journey{
        flex-direction: column;
        margin-top: 40px;
     }
     .populer-collection{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;

        

    }
     .knowledge{
        flex-direction:column;
    }
}
